/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Nirmana Visual', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Login page styles */
.login-container {
    background: linear-gradient(to center, #f3e6ed, #ba7ba5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

/* Home page styles */
.home-container {
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.home-form h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}